@model YourStoreWeb.Models.ViewStoreDetailModel


<h1>Store Shop</h1>

<hr />

<div>
    @{
        if (Model.errorMessage != null)
        {
            <label>@Model.errorMessage</label>
        }
    }
</div>

<div>
    <form asp-action="FinishOrder" asp-controller="AddToCart">
        <label> Finish Order</label>
        <input type="submit" value="Cart" class="btn btn-primary" id="submit" />
    </form>
</div>

<div id="div1">


    <h2> Welcome to @Model.Store.Name! </h2>
    <div>
        <a asp-action="Cart" asp-controller="AddToCart" Post>Back to List</a>
    </div>

    <table>
        @for (int i = 0; i < Model.Store.ItemInventory.Count; i++)
        {
            var x = Model.Store.ItemInventory.ElementAt(i).Key;
            <thead>
                <tr>


                    <th>@Html.DisplayNameFor(model => x.Name)</th>
                    <th>Picture</th>
                    <th>@Html.DisplayNameFor(model => x.ID)</th>
                    <th>@Html.DisplayNameFor(model => x.Cost)</th>
                    <th>Quantity</th>

                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => x.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => x.imageLoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => x.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => x.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Store.ItemInventory[x])
                    </td>


                </tr>
            </tbody>

        }

    </table>

    <div id="div2">



        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ViewOrderModel.store.Name)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.ViewOrderModel.store.Name)

                    </td>
                    <td>
                        @foreach (var x in Model.ViewOrderModel.Product.Keys)
                        {
                            <table>
                                <thead>
                                    <tr>


                                        <th>@Html.DisplayNameFor(model => x.Name)</th>
                                        <th>@Html.DisplayNameFor(model => x.imageLoc)</th>
                                        <th>@Html.DisplayNameFor(model => x.ID)</th>
                                        <th>@Html.DisplayNameFor(model => x.Cost)</th>
                                        <th>Quantity</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => x.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => x.imageLoc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => x.ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => x.Cost)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.ViewOrderModel.Product[x])
                                        </td>
                                    </tr>
                                </tbody>


                            </table>
                        }
                    </td>
                </tr>


            </tbody>



        </table>



    </div>
</div>


<div id="div3">
    <form id="form" asp-action="Cart" asp-controller="AddToCart">
        <div>
            <label> Please enter Product ID</label>
            <input asp-for="ProductID" class="form-control" />

            <label> Please enter Quantity</label>
            <input asp-for="Quantity" class="form-control" />

        </div>

        <div class="form-group">
            <input type="submit" value="Cart" class="btn btn-primary" id="submit" />
        </div>

    </form>

</div>




<style>
    #div1 {
        display: inline-block;
    }

    #div2 {
        display: inline-block;
    }
</style>
